.custom-bg-dark {
  background-color: #141414;
}
.custom-bg-dark-gradient {
  background: linear-gradient(to bottom, #000000, #121212);
}
.my-btn {
  border: 2px solid rgba(255, 255, 255, 0.397);
  background-color: rgb(0, 0, 0);
  color: white;
  padding-inline: 0.8em;
}
.hide-arrow::after {
  display: none;
}
footer {
  max-width: 600px;
  margin-inline: auto;
  margin-top: 8em;
}
@media screen and (max-width: 630px) {
  footer {
    margin-left: 1em;
  }
}
.social::before,
.social {
  color: rgba(255, 255, 255, 0.35);
}

.social2::before {
  color: rgba(255, 255, 255, 0.254);
}

.social p {
  font-size: 0.7em;
}

.btn-footer {
  border: 2px solid rgba(255, 255, 255, 0.397);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.397);
  padding: 0.4em 0.8em;
  margin-block: 1em;
  font-size: 0.7em;
}

/* profile */
.main-profile {
  color: rgba(255, 255, 255, 0.669);
}
.h1-profile {
  font-size: 6em;
  font-weight: 400;
}
.container-profile {
  max-width: 500px;
  margin-inline: auto;
  margin-top: 2em;
}

.abs {
  top: 95px;
  left: 25px;
}
.abs:hover {
  cursor: pointer;
}
.pen {
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.btn-profile {
  border: 1px solid rgba(255, 255, 255, 0.397);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.397);
  padding: 0.4em 1.8em;
  margin-block: 1em;
  letter-spacing: 2px;
  font-size: 0.9em;
}
/* settings */
.main-settings {
  font-size: 10px;
  max-width: 600px;
  margin-inline: auto;
}
.h1-settings {
  font-size: 3em;
  margin-bottom: 0.5em;
}
.trasparent {
  color: rgba(2, 2, 2, 0.466);
}
.main-settings h5 {
  color: rgba(2, 2, 2, 0.354);
  font-size: 1.4em;
  font-weight: 700;
}

.btn-settings {
  border: none;
  background-color: #e0e0e0;
  font-size: 1em;
  padding: 0.5em 2.5em;
  font-weight: 700;
}
.main-settings hr {
  margin: 0 0 0.8em;
}
.custom-text-primary {
  color: #38bafc;
  font-weight: 600;
}
.main-settings p {
  margin-bottom: 1em;
}
